<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Sedgwick+Ave|Signika" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='packages/phaser.js') }}"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
                background-color: black;
            }
            canvas {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border: 2px solid white;
            }
            #loadingScreen > div {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: #888888;
                opacity: 0.5;
            }
            #loadingScreen > label {
                position: absolute;
                z-index: 15;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                width: 50%;
                font-size: 3rem;
                font-family: sans-serif;
                background-color: transparent;
                text-align: center;
            }
            button {
                font-size: 3rem;
                width: 10rem;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                background-color: white;
                color: black;
                z-index: 50;
            }
            button:hover {
                cursor: pointer;
            }
        </style>

        <script type="text/javascript" src="{{ url_for('static', filename='packages/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='packages/socket.io.js') }}"></script>
    </head>
    <body>
        <script>
            // Initialize the Phaser Game object and set default game window size
            var game = new Phaser.Game({
                type: Phaser.AUTO,
                width: 900,
                height: 648
            });
            var background;
            var shipSpeed = -2;
            var sailButton,
                tackButton;
            var text;

            var personalTasks = [];
            var task;
            var currentID;

            var personalTaskText = new Map();   // Key: text of Text Objects, Value: task_id

            var main = function () {};
            main.prototype = {
                preload: function () {
                    // Load & Define our game assets
                    this.load.setBaseURL("{{ url_for('static', filename='assets') }}");
                    this.load.image('background', "bg.png");
                    this.load.image('ship',"ship.png");
                    this.load.image('ship70',"ship70.png");
                    this.load.image('ship40',"ship40.png");
                    this.load.image('ship10',"ship10.png");
                    this.load.image('ship0',"ship0.png");
                    this.load.image('btn','btn6.png');
                    this.load.image('qtn-mark','qtn-mark.png');
                    this.load.image('task-panel','task-panel-btn.png');
                    this.load.audio('bgsound','bgsound.wav');
                    this.load.audio('arrsound','arr.wav');
                    this.load.audio('failuresound','failure.wav');
                },
                create: function () {
                    background = this.add.tileSprite(450, 324, 900, 648, 'background');

                    text = this.add.text(32, 32, style);

                    var ship = this.add.sprite(450, 324, 'ship');
                    ship.setScale(0.4);
                    this.add.sprite(225,486,'btn').setScale(0.5);
                    this.add.sprite(675,486,'btn').setScale(.5);
                    this.add.sprite(225,596,'btn').setScale(.5);
                    this.add.sprite(675,596,'btn').setScale(.5);
                    this.add.sprite(450,90,'task-panel').setScale(2);
                    this.add.sprite(850, 50,'qtn-mark').setScale(0.5);

                    var style = { font: "bold 28px Sedgwick Ave", fill: "#ffffff", boundsAlignH: "center", boundsAlignV: "middle" };

                    bg_sound=this.sound.add('bgsound');
                    arr_sound=this.sound.add('arrsound');
                    fail_sound=this.sound.add('failuresound');
                    bg_sound.play();

                    currentID=currentTask['task_id'];
                    task=this.add.text(82.5,77,currentTask['description'],style);

                    timedEvent = this.time.addEvent({ delay: 10000, callback: failTask, callbackScope: this });


                    function failTask() {

                      fail_sound.play();

                      text.destroy();
                      task.destroy();

                      $.ajax({
                          url: window.location.href + '/failed/' + currentID,
                          method: 'POST',
                          success: function(newTask) {

                              console.log('Successfully sent failure ajax call!');

                              console.log('New task:');
                              console.log(newTask);
                          }
                      });

                    };
                    var buttonTextStyle = { font: "bold 28px Sedgwick Ave", fill: "#ffffff", boundsAlignH: "center", boundsAlignV: "middle" };
                    for (var i = 0; i < personalTasks.length; i++) {

                        var taskText;
                        var p_task;
                        var id;
                        var xPos;
                        var yPos;

                        p_task = personalTasks[i];
                        id = p_task['task_id']

                        if (i === 0) {
                            xPos = 112.5;
                            yPos = 470;
                        }
                        else if (i === 1) {
                            xPos = 522.5;
                            yPos = 470;
                        }
                        else if (i === 2) {
                            xPos = 112.5;
                            yPos = 580;
                        }
                        else if (i === 3) {
                            xPos =  522.5;
                            yPos = 580;
                        }
                        else {
                            console.log("Too many tasks per player. Setting buttons to passed in positions");
                            xPos = p_task["button_position"][0];
                            yPos = p_task["button_position"][1];
                        }

                        taskText=this.add.text(xPos, yPos, p_task["button_text"], buttonTextStyle);
                        taskText.setInteractive();
                        taskText.on("pointerdown", completeTask);

                        // To make event handlers work properly
                        personalTaskText.set(p_task["button_text"], id);
                  }

                    function completeTask() {
                        shipSpeed= -4;
                        arr_sound.play();

                        var taskID = personalTaskText.get(this.text);

                        /// 'game/<lobby_id>/input/<task_id>'
                        $.ajax({
                            url: window.location.href + '/input/' + taskID,
                            method: 'POST',
                            success: function() {

                                console.log('Successfully sent input ajax call!');
                            }
                        });
                    }


                },
                update: function () {
                    background.tilePositionX += shipSpeed;
                    text.setText('Event.progress: ' + timedEvent.getProgress().toString().substr(0, 4));
                }
            };
            game.scene.add("main", main);
            var lobbyID = "{{lobby_id}}",
                userID = "{{user_id}}";

            var currentTask = [];
            var socket = io.connect(document.domain + ':' + location.port);
            socket.nsp = "/game:" + "{{ lobby_id }}";

            var gameStart = function (data) {
                data = data || {};
                currentTask = typeof data.initialTasks !== "undefined" ? data.initialTasks[userID] : currentTask;
                personalTasks = typeof data.userTasks !== "undefined" ? data.userTasks[userID] : personalTasks;
                game.scene.start("main");
                $('#loadingScreen').hide();
                $('button').hide();

                console.log("Task completion time: " + data["taskCompletionTime"]);
            };

            // Add in socketio event handlers
            socket.on("game_start", gameStart);

            socket.on("bad_input", function(data) {

                console.log('Bad input event received');

            });


            socket.on("task_failed", function(data) {

                console.log('Task failed event recieved');
                console.log("Ship health: " + data["ship_health"])

            });

            socket.on("task_complete", function(data) {

                console.log('Task complete event recieved');

            });

            socket.on("section_complete", function(data) {

                console.log('Section complete event recieved');
                console.log(data["initialTasks"]);
                console.log(data["userTasks"]);
                console.log("Task completion time: " + data["taskCompletionTime"]);

            });

            socket.on("game_over", function(data) {

                console.log('Game over event recieved');

            });
        </script>

        <div id="loadingScreen">
            <div></div>
            <label>WAITING FOR OTHER PLAYERS TO CONNECT</label>
        </div>
        <button onclick="gameStart({});">GO TO GAME</button>
    </body>
</html>
