<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Sedgwick+Ave|Signika" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='packages/phaser.js') }}"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
                background-color: black;
            }
            canvas {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border: 2px solid white;
            }
            #loadingScreen > div {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: #888888;
                opacity: 0.5;
            }
            #loadingScreen > label {
                position: absolute;
                z-index: 15;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                width: 50%;
                font-size: 3rem;
                font-family: sans-serif;
                background-color: transparent;
                text-align: center;
            }
            button {
                font-size: 3rem;
                width: 10rem;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                background-color: white;
                color: black;
                z-index: 50;
            }
            button:hover {
                cursor: pointer;
            }
        </style>

        <script type="text/javascript" src="{{ url_for('static', filename='packages/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='packages/socket.io.js') }}"></script>
    </head>
    <body>
        <script>
            // Initialize the Phaser Game object and set default game window size
            var game = new Phaser.Game({
                type: Phaser.AUTO,
                width: 900,
                height: 648
            });

            var background;

            var sailButton,
                tackButton;

            var personalTasks = [];
            var objectiveTask;
            var currentID;

            var currentTask = {};

            var taskCompletionTime = 10000;

            var timeLeft,
                timeLeftText;

            var currentTime;
            var countdownActive = false;

            var button1, button2, button3, button4;
            var btn1text, btn2text, btn3text, btn4text;

            var ship;
            var shipHealth;
            var shipSpeed = -2;

            var personalTaskText = new Map();   // Key: text of Text Objects, Value: task_id

            function updateButtonTexts (taskList) {
                for (var i = 0; i < taskList.length; i++) {
                    let personalTask = personalTasks[i];
                    let pTaskID = personalTask['task_id']

                    let currentButtonText = btn1text;

                    if (i === 0) {
                        currentButtonText = btn1text;
                    }
                    else if (i === 1) {
                        currentButtonText = btn2text;
                    }
                    else if (i === 2) {
                        currentButtonText = btn3text;
                    }
                    else if (i === 3) {
                        currentButtonText = btn4text;
                    }
                    else {
                        continue
                    }

                    currentButtonText.text = personalTask["button_text"];

                    // To make event handlers work properly
                    personalTaskText.set(personalTask["button_text"], pTaskID);
                }
            }

            var main = function () {};
            main.prototype = {
                preload: function () {
                    // Load & Define our game assets
                    this.load.setBaseURL("{{ url_for('static', filename='assets') }}");
                    this.load.image('background', "bg.png");
                    this.load.image('ship',"ship.png");
                    this.load.image('ship70',"ship70.png");
                    this.load.image('ship40',"ship40.png");
                    this.load.image('ship10',"ship10.png");
                    this.load.image('ship0',"ship0.png");
                    this.load.image('btn','btn6.png');
                    this.load.image('qtn-mark','qtn-mark.png');
                    this.load.image('task-panel','task-panel-btn.png');
                    this.load.audio('bgsound','bgsound.wav');
                    this.load.audio('arrsound','arr.wav');
                    this.load.audio('failuresound','failure.wav');
                },
                create: function () {
                    bg_sound=this.sound.add('bgsound');
                    arr_sound=this.sound.add('arrsound');
                    fail_sound=this.sound.add('failuresound');
                    background = this.add.tileSprite(450, 324, 900, 648, 'background');

                    let taskStyle = {
                        font: "bold 32px Sedwick Ave",
                        fill: "#ffffff",
                        boundsAlignH: "center",
                        boundsAlignV: "middle"
                    };
                    timeLeftText = this.add.text(32, 32);

                    this.add.sprite(450,90,'task-panel').setScale(2);
                    this.add.sprite(850, 50,'qtn-mark').setScale(0.5);

                    bg_sound.play();

                    currentID = currentTask['task_id'];
                    objectiveTask = this.add.text(82.5,77,currentTask['description'], taskStyle);

                    timeLeftText = this.add.text(32, 32);

                    ship = this.add.sprite(450, 324, 'ship');
                    ship.setScale(0.4);

                    let buttonTextStyle = {
                        font: "bold 28px Sedgwick Ave",
                        fill: "#ffffff",
                        boundsAlignH: "center",
                        boundsAlignV: "middle"
                    };

                    button1 = this.add.sprite(225, 485, 'btn').setScale(0.5);
                    button2 = this.add.sprite(675, 486, 'btn').setScale(0.5);
                    button3 = this.add.sprite(225, 596, 'btn').setScale(0.5);
                    button4 = this.add.sprite(675, 596, 'btn').setScale(0.5);

                    btn1text = this.add.text(112.5, 470, "", buttonTextStyle);
                    btn2text = this.add.text(522.5, 470, "", buttonTextStyle);
                    btn3text = this.add.text(112.5, 580, "", buttonTextStyle);
                    btn4text = this.add.text(522.5, 580, "", buttonTextStyle);

                    let buttonList = [button1, button2, button3, button4];
                    let buttonTextList = [btn1text, btn2text, btn3text, btn4text];

                    for (var i = 0; i < 4; i++) {
                        let button = buttonList[i];
                        let btnText = buttonTextList[i];

                        button.setInteractive();
                        button.on("pointerdown", function () {
                            let taskID = personalTaskText.get(btnText.text);

                            $.ajax({
                                url: window.location.href + '/input/' + taskID,
                                method: 'POST'
                            });
                        })
                    }

                    updateButtonTexts(personalTasks);

                    bg_sound = this.sound.add('bgsound');
                    arr_sound = this.sound.add('arrsound');
                    fail_sound = this.sound.add('failuresound');
                    bg_sound.play();

                    currentID = currentTask['task_id'];

                    timeLeft = taskCompletionTime;
                    prevTime = this.time.now;
                    countdownActive = true;
                },
                update: function () {
                    background.tilePositionX += shipSpeed;
                    timeLeftText.setText('Time Left: ' + (timeLeft / 1000).toString().substr(0,3));

                    if (countdownActive) {
                        timeLeft -= this.time.now - prevTime;
                        prevTime = this.time.now;
                        
                        // If task isn't completed in time
                        if (timeLeft <= 0) {
                            timeLeft = taskCompletionTime;

                            objectiveTask.setText("Loading next task....");
                            countdownActive = false;

                            $.ajax({
                                url: window.location.href + '/failed/' + currentID,
                                method: 'POST',
                                success: function (data) {
                                    data = data || {};

                                    countdownActive = true;
                                    timeLeft = taskCompletionTime;

                                    currentTask = data;
                                    currentID = data.task_id;
                                    objectiveTask.setText(currentTask.description);
                                }
                            });
                        }
                    }
                }
            };
            game.scene.add("main", main);
            var lobbyID = "{{lobby_id}}",
                userID = "{{user_id}}";

            var socket = io.connect(document.domain + ':' + location.port);
            socket.nsp = "/game:" + "{{ lobby_id }}";

            var gameStart = function (data) {
                data = data || {};

                currentTask = typeof data.initialTasks !== "undefined" ? data.initialTasks[userID] : currentTask;
                personalTasks = typeof data.userTasks !== "undefined" ? data.userTasks[userID] : personalTasks;
                taskCompletionTime = typeof data.taskCompletionTime !== "undefined" ? data.taskCompletionTime : 10000;
                shipHealth = typeof data.shipHealth !== "undefined" ? data.shipHealth : shipHealth;

                game.scene.start("main");
                $('#loadingScreen').hide();
                $('button').hide();
            };

            // Add in socketio event handlers
            socket.on("game_start", gameStart);

            socket.on("bad_input", function(data) {
                data = data || {};

                fail_sound.play();
                shipSpeed *= 0.75;

                shipHealth = typeof data.ship_health !== "undefined" ? data.ship_health : shipHealth;
                
                if (shipHealth <=70 && shipHealth > 40){
                    ship.setTexture('ship70');
                }
                else if (shipHealth <=40 && shipHealth > 10){
                    ship.setTexture('ship40');
                }
                else if(shipHealth <=10 ){
                    ship.setTexture('ship0');
                }
            });

            socket.on("task_failed", function(data) {
                data = data || {};

                fail_sound.play();
                shipSpeed *= 0.75;

                shipHealth = typeof data.ship_health !== "undefined" ? data.ship_health : shipHealth;
                
                if (shipHealth <=70 && shipHealth > 40){
                    ship.setTexture('ship70');
                }
                else if (shipHealth <=40 && shipHealth > 10){
                    ship.setTexture('ship40');
                }
                else if(shipHealth <=10 ){
                    ship.setTexture('ship0');
                }
            });

            socket.on("task_complete", function(data) {
                console.log('TASK COMPLETED');

                data = data || {};

                if (data.completed_task_id === currentTask.task_id) {
                    timeLeft = taskCompletionTime;
                    countdownActive = true;

                    currentTask = data.new_task;
                    currentID = currentTask.task_id;

                    objectiveTask.setText(currentTask.description);
                }

                shipSpeed -= 2;
                arr_sound.play();
            });

            socket.on("section_complete", function(data) {
                console.log('SECTION COMPLETED');

                timeLeft = data.taskCompletionTime;

                currentTask = data.initialTasks[userID];
                currentID = currentTask.task_id;
                personalTasks = data.userTasks[userID];

                updateButtonTexts(personalTasks);

                objectiveTask.setText(currentTask.description);
            });

            socket.on("game_over", function(data) {

                console.log('Game over event recieved');

            });
        </script>

        <div id="loadingScreen">
            <div></div>
            <label>WAITING FOR OTHER PLAYERS TO CONNECT</label>
        </div>
        <button onclick="gameStart({});">GO TO GAME</button>
    </body>
</html>
