<!DOCTYPE html>
<html>
    <head>
        <title>{{lobby_id}}</title>

        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Sedgwick+Ave|Signika" rel="stylesheet"> 
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        
        <script type="text/javascript" src="{{ url_for('static', filename='packages/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='packages/socket.io.js') }}"></script>

        <script>
            var numPlayers = parseInt('{{num_players}}');
            var numReadyPlayers = parseInt('{{num_ready_players}}');

            var updateLobbyMembers = function (data) {
                data = data || {};

                numPlayers = typeof data.numPlayers !== "undefined" ? data.numPlayers : numPlayers;
                numReadyPlayers = typeof data.numReadyPlayers !== "undefined" ? data.numReadyPlayers : numReadyPlayers;

                let lobbyMembersDiv = $('#lobbyPage .lobbyMembers');
                if (lobbyMembersDiv.length > 0) {
                    lobbyMembersDiv.empty();

                    for (let i = 0; i < numPlayers; i++) {
                        let newMember = $("<div>");
                        newMember.addClass('lobbyMember');
                        if (i < numReadyPlayers) {
                            newMember.addClass('readyMember');
                        }
                        lobbyMembersDiv.append(newMember);
                    }
                }
            };

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.nsp = "/" + "{{ lobby_id }}";

            window.onbeforeunload = function () {
                socket.disconnect();
            };
            
            socket.on('player_joined', updateLobbyMembers);
            socket.on('player_disconnected', function (serverData) {
                updateLobbyMembers(serverData);
                let readyBox = document.querySelector('#lobbyPage .ready input') || {};
                readyBox.checked = false;
                alert("Another player has disconnected!");
            });

            socket.on('disconnect', function () {
                alert("You lost connection to the server!");
                let readyBox = document.querySelector('#lobbyPage .ready input') || {};
                readyBox.checked = false;
            })


            socket.on("lobby_status_changed", function (serverData) {
                updateLobbyMembers(serverData);
            });

            // Handle game start event
            socket.on('game_load', function(serverData) {
                window.location.href = "/game/{{lobby_id}}"
            });

            updateLobbyMembers();
        </script>
    </head>

    <body>
        <div id="lobbyPage">
            <button class="backButton" onclick="window.location.href = '/';">⬅</button>
            <label class="title">{{ lobby_id }}</label>

            <div class="lobbyMembers"></div>

            <div class="ready">
                <span>READY?</span>
                <input id="readyCheck" type="checkbox">
                <label for="readyCheck"></label>
            </div>
        </div>

        <script>
            var readyBox = document.querySelector('#lobbyPage .ready input');

            readyBox.onclick = function () {
                var status = "unready";
                if (readyBox.checked) {
                    status = "ready";
                }

                $.ajax({url: window.location.href + '?status=' + status, method: 'POST'});
            }
            updateLobbyMembers();
        </script>
    </body>
</html>